{% with messages = get_flashed_messages() %}

  {% if messages %}
    {% for message in messages%}
      {{message}}
    {% endfor %}
  {% endif %}

{% endwith %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <h1>Home Page</h1>
    <form action='/new' method='POST'>
        <label for ='full_name'>Full Name</label><input type = 'text' id='full_name' name='full_name'/>
        <label for ='email'>Email</label><input type = 'email' id='email' name='email' />
        <label for ='phone'>Phone</label><input type = 'text' id='phone' name='phone' /> 
        
        <button>Submit</button>
    </form>
    <div>
      {% for contact in contacts %}
      <div>
        <h5>{{ contact.fullname }} </h5>
        <a href='{{ url_for('contacts.update', id=contact.id) }}'>Update</a>
        <a href=' {{ url_for('contacts.delete', id=contact.id) }}'>Delete</a>
        <p>{{ contact.phone }}</p>
        <p>{{contact.email}}</p>
      </div>
      {% endfor %}

    </div>
  </body>
</html>
